@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

/* reset */
@layer base {
  html,
  body,
  div,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  img,
  ol,
  ul,
  li,
  form,
  label,
  footer,
  header,
  nav,
  section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  footer,
  header,
  nav,
  section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol,
  ul {
    list-style: none;
  }

  button {
    cursor: pointer;
  }

  button:disabled {
    cursor: default;
  }

  html {
    font-family: 'Pretendard-Regular', sans-serif;
    scrollbar-gutter: stable;
  }
}

/* style variables */
@theme {
  /* === Grayscale === */
  --color-gray-900: #4b4b4b;
  --color-gray-800: #79747e;
  --color-gray-700: #a1a1a1;
  --color-gray-600: #a4a1aa;
  --color-gray-500: #adaeb8;
  --color-gray-400: #cbc9cf;
  --color-gray-300: #dddddd;
  --color-gray-200: #eeeeee;
  --color-gray-100: #fafafa;

  /* === Greenscale === */
  --color-green-300: #0b3b2d;
  --color-green-200: #ced8d5;
  --color-green-100: #00ac07;

  /* === Redscale === */
  --color-red-300: #ff472e;
  --color-red-200: #ffc2ba;
  --color-red-100: #ffe4e0;

  /* === Orangescale === */
  --color-orange-200: #ff7c1d;
  --color-orange-100: #fff4e8;

  /* === Yellowscale === */
  --color-yellow-100: #ffc23d;

  /* === Bluescale === */
  --color-blue-300: #0085ff;
  --color-blue-200: #2eb4ff;
  --color-blue-100: #e5f3ff;

  /* === Blackscale === */
  --color-black: #1b1b1b;
  --color-nomad: #112211;

  /* === Font === */
  --font-weight-regular: 400;

  --text-3xl: 32px;
  --text-3xl--line-height: 42px;
  --text-2xl: 24px;
  --text-2xl--line-height: 32px;
  --text-xl: 20px;
  --text-xl--line-height: 32px;
  --text-2lg: 18px;
  --text-2lg--line-height: 26px;
  --text-lg: 16px;
  --text-lg--line-height: 26px;
  --text-md: 14px;
  --text-md--line-height: 24px;
  --text-sm: 13px;
  --text-sm--line-height: 22px;
  --text-xs: 12px;
  --text-xs--line-height: 18px;

  --spacing: 0.0625rem;
}
